<h1>Here is a list of users<h1>

<section>
  <% @users.each do |user| %>
    <div class="user-container">
      <div class="user-img">
        <img src="<%= user.photo%>">
      </div>
      <div class="user-text">
        <div class="user-name"><%= user.name %></div>
        <div class="user-posts">number of posts: <%= user.posts_counter %></div>
      </div>
    </div>
  <%end%>
</section>