body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

.user-container {
  display: grid;
  grid-template-columns: 10% 70%;
  gap: 3rem;
  border-style: solid;
  border-width: 4px;
  height: 100px;
}

/* .user-img {
  border-style: solid;
  border-width: 4px;
  height: 100px;
  width: 100px;
  margin: 1rem 23rem 1rem 0;
} */

img {
  width: 100px;
  height: 100px;
}

.user-text {
  font-weight: 700;

  /* margin: 1rem 0 1rem 25rem; */
}

h2 {
  font-size: 1.5rem;
  margin: 1rem auto 1rem 1rem;
}


.user-posts {
  float: right;
  margin: 1rem 2rem 0.5rem 0;
  font-size: 1.15rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #5c5c5e;
}

a:visited {
  color: #5c5c5e;
}

/* .user-details {
    border-style: solid;
    border-width: 4px;
    height: 100px;
    width: 700px;
    margin: 1rem 0 1rem 25rem;
  } */

/* .all-posts {
  margin: 1rem 40rem 1rem 42rem;
  font-size: 1.85rem;
  font-weight: 700;
} */

.posts-btn {
  margin: 0.85rem 0 1rem 1rem;
  font-size: 1.15rem;
  font-weight: 700;
}

.post-content {
  border-style: solid;
  border-width: 4px;
  height: 130px;
  width: 700px;
  margin-top: 1.5rem;
  margin-left: 25rem;
}

.context {
  margin: 0.25rem 0 1rem 1rem;
  font-size: 1.05rem;
  font-weight: 700;
}

/* .post-title {
  margin: 0.25rem 0 1rem 1rem;
  font-size: 1.05rem;
  font-weight: 700;
} */

/* .post-text {
  margin: 0.25rem 0 1rem 1rem;
  font-size: 1.05rem;
  font-weight: 700;
} */

.post-count {
  float: right;
  font-size: 1.05rem;
  font-weight: 700;
  margin: 0.75rem 2rem 0.25rem 0;
}

.comments-container {
  border-style: solid;
  border-width: 4px;
  height: 190px;
  width: 700px;
  margin-top: 1.5rem;
  margin-left: 25rem;
}

.comments-context {
  margin: 0.25rem 0 1rem 1rem;
  font-size: 1.05rem;
  font-weight: 700;
}

.post-count-likes {
  float: right;
  font-size: 1.05rem;
  font-weight: 700;
  margin: -4.2rem 2rem 0.25rem 0;
}

.post-details-post {
  display: flex;
}
